{
    "openapi": "3.0.0",
    "info": {
        "title": "CafeOn API",
        "description": "CafeOn 손님·사장님·SUPER_ADMIN 백엔드 API 문서. 사장님 운영 API는 Bearer 토큰으로 로그인 계정의 OWNER 매장을 자동 선택합니다.",
        "version": "1.3.0"
    },
    "servers": [
        {
            "url": "https://wa26b01.yjjob.kr",
            "description": "현재 Laravel APP_URL 서버"
        }
    ],
    "paths": {
        "/api/admin/faqs": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "storeFaq (admin/faqs)",
                "operationId": "post_api_admin_faqs_5fc83a",
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/faqs/{faq}": {
            "put": {
                "tags": [
                    "Admin"
                ],
                "summary": "updateFaq (admin/faqs/{faq})",
                "operationId": "put_api_admin_faqs_faq_a8d2bf",
                "parameters": [
                    {
                        "name": "faq",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin"
                ],
                "summary": "deleteFaq (admin/faqs/{faq})",
                "operationId": "delete_api_admin_faqs_faq_356df5",
                "parameters": [
                    {
                        "name": "faq",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/inquiries/{inquiry}/answer": {
            "patch": {
                "tags": [
                    "Admin"
                ],
                "summary": "answerInquiry (admin/inquiries/{inquiry}/answer)",
                "operationId": "patch_api_admin_inquiries_inquiry_answer_33117a",
                "parameters": [
                    {
                        "name": "inquiry",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/admin/subscriptions/{subscription}/activate": {
            "post": {
                "tags": [
                    "Plans"
                ],
                "summary": "구독 결제 확인 및 활성화 (admin/subscriptions/{subscription}/activate)",
                "operationId": "post_api_admin_subscriptions_subscription_activate_3cfbc2",
                "parameters": [
                    {
                        "name": "subscription",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "provider_transaction_id"
                                ],
                                "properties": {
                                    "provider_transaction_id": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/auth/customer/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "손님 로그인",
                "description": "CUSTOMER 권한 계정만 로그인할 수 있습니다.",
                "operationId": "post_api_auth_customer_login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "손님 로그인 성공"
                    },
                    "403": {
                        "description": "사장님 계정 또는 비활성 계정"
                    },
                    "422": {
                        "description": "입력값 또는 로그인 정보 검증 실패"
                    },
                    "429": {
                        "description": "요청 횟수 초과"
                    }
                }
            }
        },
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "손님 로그인(기존 호환 경로) (auth/login)",
                "operationId": "post_api_auth_login_3d54ae",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "손님 로그인 성공"
                    },
                    "403": {
                        "description": "사장님 계정 또는 비활성 계정"
                    },
                    "422": {
                        "description": "입력값 또는 로그인 정보 검증 실패"
                    }
                }
            }
        },
        "/api/auth/owner/login": {
            "post": {
                "tags": [
                    "사장님 인증"
                ],
                "summary": "사장님 로그인 및 매장정보 복원",
                "description": "ADMIN 계정을 인증하고 token, store_id, store, membership, stores, memberships를 반환합니다.",
                "operationId": "post_api_auth_owner_login",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "owner@cafeon.test"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "example": "password1234"
                                    }
                                },
                                "required": [
                                    "email",
                                    "password"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "로그인 성공 및 사장님 매장 컨텍스트 반환",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "token": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "user": {
                                            "type": "object"
                                        },
                                        "store_id": {
                                            "type": "integer",
                                            "nullable": true,
                                            "example": 1
                                        },
                                        "store": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "membership": {
                                            "type": "object",
                                            "nullable": true
                                        },
                                        "stores": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "memberships": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "손님 계정 또는 비활성 계정"
                    },
                    "422": {
                        "description": "입력값 또는 로그인 정보 검증 실패"
                    },
                    "429": {
                        "description": "요청 횟수 초과"
                    }
                }
            }
        },
        "/api/auth/owner/signup": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "점주 회원가입 (auth/owner/signup)",
                "operationId": "post_api_auth_owner_signup_8c62a0",
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                }
            }
        },
        "/api/auth/signup": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "회원가입 (auth/signup)",
                "operationId": "post_api_auth_signup_3f40e6",
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                }
            }
        },
        "/api/auth/social/exchange": {
            "post": {
                "tags": [
                    "사장님 인증"
                ],
                "summary": "소셜 로그인 코드 교환",
                "operationId": "post_api_auth_social_exchange_06530e",
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "description": "owner 소셜 로그인인 경우 일반 사장님 로그인과 동일하게 store_id와 매장 컨텍스트를 반환합니다.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "minLength": 64,
                                        "maxLength": 64
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "customer",
                                            "owner"
                                        ],
                                        "example": "owner"
                                    }
                                },
                                "required": [
                                    "code"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/comments/{comment}": {
            "put": {
                "tags": [
                    "Blog"
                ],
                "summary": "수정 (comments/{comment})",
                "operationId": "put_api_comments_comment_da482d",
                "parameters": [
                    {
                        "name": "comment",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Blog"
                ],
                "summary": "삭제 (comments/{comment})",
                "operationId": "delete_api_comments_comment_f15b76",
                "parameters": [
                    {
                        "name": "comment",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/comments/{comment}/status": {
            "patch": {
                "tags": [
                    "Blog"
                ],
                "summary": "상태 변경 (comments/{comment}/status)",
                "operationId": "patch_api_comments_comment_status_e43771",
                "parameters": [
                    {
                        "name": "comment",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/directions": {
            "get": {
                "tags": [
                    "Stores"
                ],
                "summary": "상세 조회 (directions)",
                "operationId": "get_api_directions_0fe584",
                "responses": {
                    "200": {
                        "description": "성공"
                    }
                }
            }
        },
        "/api/faqs": {
            "get": {
                "tags": [
                    "General"
                ],
                "summary": "faqs (faqs)",
                "operationId": "get_api_faqs_02228f",
                "responses": {
                    "200": {
                        "description": "성공"
                    }
                }
            }
        },
        "/api/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "로그인 (login)",
                "operationId": "post_api_login_9d4135",
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                }
            }
        },
        "/api/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "로그아웃 (logout)",
                "operationId": "post_api_logout_cab0d8",
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/map/kakao-cafes": {
            "get": {
                "tags": [
                    "Map"
                ],
                "summary": "MapStoreController kakaoCafes",
                "operationId": "get_api_map_kakao_cafes",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                },
                "parameters": [
                    {
                        "name": "sw_lat",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "name": "sw_lng",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "name": "ne_lat",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "name": "ne_lng",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 45,
                            "default": 1
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 15,
                            "default": 15
                        }
                    }
                ]
            }
        },
        "/api/map/pins/{source}/{id}": {
            "get": {
                "tags": [
                    "Map"
                ],
                "summary": "MapStoreController showPin",
                "operationId": "get_api_map_pins_source_id_",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                },
                "parameters": [
                    {
                        "name": "source",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ]
            }
        },
        "/api/map/stores": {
            "get": {
                "tags": [
                    "Stores"
                ],
                "summary": "목록 조회 (map/stores)",
                "operationId": "get_api_map_stores_c33b3d",
                "responses": {
                    "200": {
                        "description": "성공"
                    }
                }
            }
        },
        "/api/me": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "summary": "내 정보 조회 (me)",
                "operationId": "get_api_me_0f9bb8",
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/menus/{menu}": {
            "get": {
                "tags": [
                    "Stores"
                ],
                "summary": "상세 조회 (menus/{menu})",
                "operationId": "get_api_menus_menu_fbc702",
                "parameters": [
                    {
                        "name": "menu",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    }
                }
            }
        },
        "/api/notifications": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "목록 조회 (notifications)",
                "operationId": "get_api_notifications_abb9e2",
                "parameters": [
                    {
                        "name": "unread_only",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "maximum": 100,
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Notifications"
                ],
                "summary": "전체 알림 삭제 (notifications)",
                "operationId": "delete_api_notifications_427599",
                "responses": {
                    "204": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/notifications/read-all": {
            "patch": {
                "tags": [
                    "Notifications"
                ],
                "summary": "전체 알림 읽음 처리 (notifications/read-all)",
                "operationId": "patch_api_notifications_read_all_47f4bc",
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/notifications/{notification}": {
            "delete": {
                "tags": [
                    "Notifications"
                ],
                "summary": "삭제 (notifications/{notification})",
                "operationId": "delete_api_notifications_notification_2d1e9d",
                "parameters": [
                    {
                        "name": "notification",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/notifications/{notification}/read": {
            "patch": {
                "tags": [
                    "Notifications"
                ],
                "summary": "알림 읽음 처리 (notifications/{notification}/read)",
                "operationId": "patch_api_notifications_notification_read_c04623",
                "parameters": [
                    {
                        "name": "notification",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/oauth2-callback": {
            "get": {
                "tags": [
                    "Oauth2-callback"
                ],
                "summary": "SwaggerController oauth2Callback",
                "operationId": "get_api_oauth2_callback",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                }
            }
        },
        "/api/orders": {
            "post": {
                "tags": [
                    "Orders & Payments"
                ],
                "summary": "등록 (orders)",
                "operationId": "post_api_orders_7f6c9e",
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/owner/dashboard": {
            "get": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "사장님 통합 대시보드 조회",
                "operationId": "get_api_owner_dashboard",
                "responses": {
                    "200": {
                        "description": "사장님 운영화면 통합 데이터",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "store": {
                                            "type": "object"
                                        },
                                        "summary": {
                                            "type": "object",
                                            "properties": {
                                                "is_open": {
                                                    "type": "boolean"
                                                },
                                                "today_sales": {
                                                    "type": "integer"
                                                },
                                                "seat_count": {
                                                    "type": "integer"
                                                },
                                                "seat_capacity": {
                                                    "type": "integer"
                                                },
                                                "reservation_count": {
                                                    "type": "integer"
                                                },
                                                "pending_reservation_count": {
                                                    "type": "integer"
                                                }
                                            }
                                        },
                                        "menuItems": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "reservations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "pendingReservations": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "description": "영업 상태, 매출, 좌석, 예약, 메뉴를 로그인 계정의 대표 매장 기준으로 조회합니다."
            }
        },
        "/api/owner/inventory/{inventory}": {
            "put": {
                "tags": [
                    "Owner Inventory"
                ],
                "summary": "수정 (owner/inventory/{inventory})",
                "operationId": "put_api_owner_inventory_inventory_6f5468",
                "parameters": [
                    {
                        "name": "inventory",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Owner Inventory"
                ],
                "summary": "삭제 (owner/inventory/{inventory})",
                "operationId": "delete_api_owner_inventory_inventory_460b53",
                "parameters": [
                    {
                        "name": "inventory",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/owner/inventory/{inventory}/transactions": {
            "post": {
                "tags": [
                    "Owner Inventory"
                ],
                "summary": "재고 수량 변경 (owner/inventory/{inventory}/transactions)",
                "operationId": "post_api_owner_inventory_inventory_transactions_83a380",
                "parameters": [
                    {
                        "name": "inventory",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "STOCK_IN",
                                            "STOCK_OUT",
                                            "ADJUSTMENT",
                                            "RETURN",
                                            "WASTE"
                                        ]
                                    },
                                    "quantity": {
                                        "type": "number",
                                        "example": 3
                                    },
                                    "quantity_after": {
                                        "type": "number",
                                        "nullable": true
                                    },
                                    "reason": {
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/owner/menu-categories": {
            "post": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "내 매장 메뉴 카테고리 등록",
                "operationId": "post_api_owner_menu_categories",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "description": "커피, 음료, 디저트 등의 메뉴 카테고리를 등록합니다.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "커피"
                                    },
                                    "sort_order": {
                                        "type": "integer",
                                        "minimum": 0
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "default": true
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/owner/menu-categories/{category}": {
            "put": {
                "tags": [
                    "General"
                ],
                "summary": "updateCategory (owner/menu-categories/{category})",
                "operationId": "put_api_owner_menu_categories_category_7b5cba",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "General"
                ],
                "summary": "destroyCategory (owner/menu-categories/{category})",
                "operationId": "delete_api_owner_menu_categories_category_bdf0c7",
                "parameters": [
                    {
                        "name": "category",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/owner/menus": {
            "get": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "내 매장 메뉴·카테고리 조회",
                "operationId": "get_api_owner_menus",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "description": "재로그인 후 저장된 메뉴와 카테고리를 복원합니다.",
                "parameters": [
                    {
                        "name": "category_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is_available",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "keyword",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ]
            },
            "post": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "내 매장 메뉴 등록",
                "operationId": "post_api_owner_menus",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "description": "대표 OWNER 매장에 메뉴를 등록합니다.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "category_id": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "category": {
                                        "type": "string",
                                        "nullable": true,
                                        "example": "커피",
                                        "description": "카테고리명으로 자동 연결 가능"
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "아메리카노"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "price": {
                                        "type": "number",
                                        "example": 4500
                                    },
                                    "image_url": {
                                        "type": "string",
                                        "format": "uri",
                                        "nullable": true
                                    },
                                    "is_available": {
                                        "type": "boolean",
                                        "default": true
                                    },
                                    "soldOut": {
                                        "type": "boolean",
                                        "description": "기존 프론트 호환 필드"
                                    }
                                },
                                "required": [
                                    "name",
                                    "price"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/owner/menus/{menu}": {
            "put": {
                "tags": [
                    "Stores"
                ],
                "summary": "수정 (owner/menus/{menu})",
                "operationId": "put_api_owner_menus_menu_10b463",
                "parameters": [
                    {
                        "name": "menu",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Stores"
                ],
                "summary": "삭제 (owner/menus/{menu})",
                "operationId": "delete_api_owner_menus_menu_6d63e9",
                "parameters": [
                    {
                        "name": "menu",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/owner/menus/{menu}/availability": {
            "patch": {
                "tags": [
                    "Stores"
                ],
                "summary": "updateAvailability (owner/menus/{menu}/availability)",
                "operationId": "patch_api_owner_menus_menu_availability_7877f4",
                "parameters": [
                    {
                        "name": "menu",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/owner/orders/{order}/cancel": {
            "post": {
                "tags": [
                    "Owner"
                ],
                "summary": "OwnerOrderController cancel",
                "operationId": "post_api_owner_orders_order_cancel",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "parameters": [
                    {
                        "name": "order",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/owner/orders/{order}/status": {
            "patch": {
                "tags": [
                    "Orders & Payments"
                ],
                "summary": "상태 변경 (owner/orders/{order}/status)",
                "operationId": "patch_api_owner_orders_order_status_c86692",
                "parameters": [
                    {
                        "name": "order",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/owner/profile": {
            "get": {
                "tags": [
                    "Owner"
                ],
                "summary": "ProfileController owner",
                "operationId": "get_api_owner_profile",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Owner"
                ],
                "summary": "ProfileController updateOwner",
                "operationId": "put_api_owner_profile",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "profile_image_url": {
                                        "type": "string",
                                        "format": "uri",
                                        "nullable": true
                                    },
                                    "birth_date": {
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Owner"
                ],
                "summary": "ProfileController updateOwner",
                "operationId": "patch_api_owner_profile",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "profile_image_url": {
                                        "type": "string",
                                        "format": "uri",
                                        "nullable": true
                                    },
                                    "birth_date": {
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/owner/reservations": {
            "get": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "내 매장 예약 목록 조회",
                "operationId": "get_api_owner_reservations",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "description": "전체 예약 또는 수락 대기 등 상태별 예약을 조회합니다.",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "PENDING_APPROVAL",
                                "AWAITING_PAYMENT",
                                "CONFIRMED",
                                "REJECTED",
                                "CANCELLED",
                                "COMPLETED",
                                "NO_SHOW",
                                "PAYMENT_FAILED",
                                "EXPIRED"
                            ]
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ]
            }
        },
        "/api/owner/reservations/{reservation}/status": {
            "patch": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "예약 수락·거절·상태 변경",
                "operationId": "patch_api_owner_reservations_reservation_status",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "parameters": [
                    {
                        "name": "reservation",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "description": "본인 매장 예약의 상태를 변경하고 승인자와 처리 시각을 저장합니다.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "CONFIRMED",
                                            "REJECTED",
                                            "CANCELLED",
                                            "COMPLETED",
                                            "NO_SHOW",
                                            "PAYMENT_FAILED",
                                            "EXPIRED",
                                            "ACCEPTED",
                                            "수락",
                                            "거절"
                                        ]
                                    },
                                    "reason": {
                                        "type": "string",
                                        "nullable": true,
                                        "maxLength": 500,
                                        "description": "거절 시 필수"
                                    }
                                },
                                "required": [
                                    "status"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/owner/review-replies/{reply}": {
            "put": {
                "tags": [
                    "General"
                ],
                "summary": "수정 (owner/review-replies/{reply})",
                "operationId": "put_api_owner_review_replies_reply_fbd983",
                "parameters": [
                    {
                        "name": "reply",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "General"
                ],
                "summary": "삭제 (owner/review-replies/{reply})",
                "operationId": "delete_api_owner_review_replies_reply_1d06b8",
                "parameters": [
                    {
                        "name": "reply",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/owner/reviews/{review}/reply": {
            "post": {
                "tags": [
                    "Reviews"
                ],
                "summary": "등록 (owner/reviews/{review}/reply)",
                "operationId": "post_api_owner_reviews_review_reply_0478f5",
                "parameters": [
                    {
                        "name": "review",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/owner/seats": {
            "get": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "내 매장 좌석 현황 조회",
                "operationId": "get_api_owner_seats",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "description": "저장된 좌석과 현재 상태를 조회합니다."
            },
            "post": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "내 매장 좌석 등록",
                "operationId": "post_api_owner_seats",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "description": "대표 OWNER 매장에 좌석을 등록합니다.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "seat_code": {
                                        "type": "string",
                                        "example": "A1"
                                    },
                                    "seat_name": {
                                        "type": "string",
                                        "example": "창가 좌석"
                                    },
                                    "seat_type": {
                                        "type": "string",
                                        "enum": [
                                            "WINDOW",
                                            "NORMAL",
                                            "GROUP",
                                            "OUTDOOR"
                                        ]
                                    },
                                    "capacity": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 100,
                                        "example": 2
                                    },
                                    "floor_number": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "AVAILABLE",
                                            "UNAVAILABLE",
                                            "MAINTENANCE",
                                            "비어있음",
                                            "사용중",
                                            "대기",
                                            "EMPTY",
                                            "OCCUPIED",
                                            "WAITING"
                                        ]
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "default": true
                                    }
                                },
                                "required": [
                                    "seat_code",
                                    "seat_name",
                                    "capacity"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/owner/seats/availability": {
            "patch": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "좌석 상태 일괄 변경",
                "operationId": "patch_api_owner_seats_availability",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "description": "여러 좌석의 상태를 한 번에 저장합니다.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "seats": {
                                        "type": "array",
                                        "minItems": 1,
                                        "maxItems": 100,
                                        "items": {
                                            "type": "object",
                                            "required": [
                                                "id",
                                                "status"
                                            ],
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "type": "string",
                                                    "enum": [
                                                        "AVAILABLE",
                                                        "UNAVAILABLE",
                                                        "MAINTENANCE",
                                                        "비어있음",
                                                        "사용중",
                                                        "대기",
                                                        "EMPTY",
                                                        "OCCUPIED",
                                                        "WAITING"
                                                    ]
                                                }
                                            }
                                        }
                                    }
                                },
                                "required": [
                                    "seats"
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/owner/seats/reset": {
            "post": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "좌석 설정 초기화",
                "operationId": "post_api_owner_seats_reset",
                "responses": {
                    "200": {
                        "description": "좌석 초기화 및 DB 저장 성공",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "좌석 설정이 초기화되었습니다."
                                        },
                                        "seats": {
                                            "type": "array",
                                            "items": {
                                                "type": "object"
                                            }
                                        },
                                        "availability": {
                                            "type": "object"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "description": "좌석을 1번부터 요청 수만큼 재구성해 DB에 저장합니다. 로그아웃 후 재로그인해도 GET 좌석 API로 복원됩니다.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "total_seats": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 100,
                                        "example": 15
                                    },
                                    "seat_count": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 100,
                                        "description": "total_seats 호환 별칭"
                                    },
                                    "count": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "maximum": 100,
                                        "description": "total_seats 호환 별칭"
                                    }
                                },
                                "anyOf": [
                                    {
                                        "required": [
                                            "total_seats"
                                        ]
                                    },
                                    {
                                        "required": [
                                            "seat_count"
                                        ]
                                    },
                                    {
                                        "required": [
                                            "count"
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                }
            }
        },
        "/api/owner/seats/{seat}": {
            "patch": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "좌석 상태 변경",
                "operationId": "patch_api_owner_seats_seat_",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "parameters": [
                    {
                        "name": "seat",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "description": "비어있음, 사용중, 대기/점검 상태를 저장합니다.",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "enum": [
                                            "AVAILABLE",
                                            "UNAVAILABLE",
                                            "MAINTENANCE",
                                            "비어있음",
                                            "사용중",
                                            "대기",
                                            "EMPTY",
                                            "OCCUPIED",
                                            "WAITING"
                                        ]
                                    }
                                },
                                "required": [
                                    "status"
                                ]
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "좌석 삭제",
                "operationId": "delete_api_owner_seats_seat_",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "parameters": [
                    {
                        "name": "seat",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "description": "본인 매장의 좌석을 삭제합니다."
            }
        },
        "/api/owner/staff/{member}": {
            "delete": {
                "tags": [
                    "Owner Staff"
                ],
                "summary": "삭제 (owner/staff/{member})",
                "operationId": "delete_api_owner_staff_member_33f0f0",
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "Owner Staff"
                ],
                "summary": "수정 (owner/staff/{member})",
                "operationId": "patch_api_owner_staff_member_2b7316",
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "MANAGER",
                                            "STAFF"
                                        ]
                                    },
                                    "is_active": {
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "성공"
                    },
                    "401": {
                        "description": "인증 필요"
                    },
                    "403": {
                        "description": "권한 없음"
                    },
                    "422": {
                        "description": "입력값 또는 상태 검증 실패"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ]
            }
        },
        "/api/owner/store": {
            "get": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "내 대표 매장 조회",
                "operationId": "get_api_owner_store",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "description": "매장 ID 없이 로그인한 사장님의 대표 OWNER 매장을 조회합니다."
            },
            "patch": {
                "tags": [
                    "사장님 운영"
                ],
                "summary": "내 대표 매장 프로필 저장",
                "operationId": "patch_api_owner_store",
                "responses": {
                    "200": {
                        "description": "Successful response"
                    },
                    "422": {
                        "description": "Validation failed"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "sanctum": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "address": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "detail_address": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "phone": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "business_hours_text": {
                                        "type": "string",
                                        "nullable": true,
                                        "example": "09:00-22:00"
                                    },
                                    "business_info_text": {
                                        "type": "string",
                                        "nullable": true,
                                        "example": "123-45-67890"
                                    },
                                    "thumbnail_url": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "reservation_enabled": {
                                        "type": "boolean"
                                    },
                                    "business_info": {
                                        "type": "object",
                                        "nullable": true,
                                        "properties": {
                                            "business_registration_number": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "representative_name": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "company_name": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "business_type": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "business_item": {
                                                "type": "string",
                                                "nullable": true
                                            },
                                            "business_address": {
                                                "type": "string",
                                                "nullable": true
                                            }
                                        }
                                    },
                                    "business_hours": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "required": [
                                                "day_of_week",
                                                "is_closed"
                                            ],
                                            "properties": {
                                                "day_of_week": {
                                                    "type": "integer",
                                                    "minimum": 0,
                                                    "maximum": 6
                                                },
[...]
